ID_STR_16_9;,"16 : 9"
ID_STR_4_3;,"4 : 3"
ID_STR_APRIL;,"April"
ID_STR_AUGUEST;,"Auguest"
ID_STR_CANCEL;,"Cancel"
ID_STR_CLOSE;,"Close"
ID_STR_DATE;,"Date"
ID_STR_DECEMBER;,"December"
ID_STR_DEFAULT;,"Default"
ID_STR_DEVICE_FOUND;,"Device Found:"
ID_STR_DIR;,"Directories"
ID_STR_DISPLAY_MODE_2D;,"2D"
ID_STR_DISPLAY_MODE_2D_TO_3D;,"2D To 3D"
ID_STR_DISPLAY_MODE_3D_TO_2D;,"3D To 2D"
ID_STR_DLNA_STARTING;,"DLNA Starting..."
ID_STR_DMPLAYER_FILE;,"File"
ID_STR_DMPLAYER_MOVIE;,"Movie"
ID_STR_DMPLAYER_MUSIC;,"Music"
ID_STR_DMPLAYER_PHOTO;,"Photo"
ID_STR_DMP_FS_COPY;,"Copy"
ID_STR_DMP_FS_DELETE;,"Delete"
ID_STR_DMP_FS_PASTE;,"Paste"
ID_STR_DMP_FS_RETURN;,"Return"
ID_STR_DMP_HINT;,"Press "Menu" to Show/Hide Function Menu."
ID_STR_DMP_MMP_AUTOCHAPTER;,"Auto Chapter"
ID_STR_DMP_MMP_BGM;,"BGM"
ID_STR_DMP_MMP_CAPTURE;,"Capture"
ID_STR_DMP_MMP_CHAPTER;,"Chapter"
ID_STR_DMP_MMP_COLON;,":"
ID_STR_DMP_MMP_DECODING;,"Decoding..."
ID_STR_DMP_MMP_DIVXSETTING;,"DivX Setting"
ID_STR_DMP_MMP_EDITION;,"Edition"
ID_STR_DMP_MMP_ENLARGE;,"Enlarge"
ID_STR_DMP_MMP_ERROR;,"Error: operation fails, please try again."
ID_STR_DMP_MMP_FF;,"FF"
ID_STR_DMP_MMP_INFO;,"Info"
ID_STR_DMP_MMP_INFO_MESSAGE;,""This is INFO message""
ID_STR_DMP_MMP_MOVE;,"Move"
ID_STR_DMP_MMP_MUTE;,"Mute"
ID_STR_DMP_MMP_NEXT;,"Next"
ID_STR_DMP_MMP_PAUSE;,"Pause"
ID_STR_DMP_MMP_PAUSE_UNNORMAL;,"Warning: Pause not Workable."
ID_STR_DMP_MMP_PLAY;,"Play"
ID_STR_DMP_MMP_PLAYLIST;,"Play List"
ID_STR_DMP_MMP_PLAYLIST_UPDATING;,"PlayList Updating..."
ID_STR_DMP_MMP_PREVIOUS;,"Previous"
ID_STR_DMP_MMP_PROCESSING;,"Processing, please wait..."
ID_STR_DMP_MMP_REPEAT;,"Repeat"
ID_STR_DMP_MMP_REPEAT_AB;,"AB-Repeat"
ID_STR_DMP_MMP_RESUMEPLAY;,"Resume Play?"
ID_STR_DMP_MMP_REV;,"Rev"
ID_STR_DMP_MMP_ROTATE1;,"Rotate+"
ID_STR_DMP_MMP_ROTATE2;,"Rotate-"
ID_STR_DMP_MMP_RUSUMEPLAY;,"Resume Play?"
ID_STR_DMP_MMP_SETTING;,"Setting"
ID_STR_DMP_MMP_SHRINK;,"Shrink"
ID_STR_DMP_MMP_SLOWBACKWARD;,"SlowBackward"
ID_STR_DMP_MMP_SLOWFORWARD;,"SlowForward"
ID_STR_DMP_MMP_SLOWMOTION;,"SlowMotion"
ID_STR_DMP_MMP_SOUND;,"Sound"
ID_STR_DMP_MMP_STOP;,"Stop"
ID_STR_DMP_MMP_TIMEPLAY;,"TimePlay"
ID_STR_DMP_MMP_TITLE;,"Title"
ID_STR_DMP_MMP_UNSUPPORTED;,"Unsupported File"
ID_STR_DMP_PHOTOPLAYER_ANGLEZOOM;,"Degree: 0 , Zoom: 1"
ID_STR_DMR_MMP_ERROR;,"Error: operation fails, please try again."
ID_STR_DMS_DATA_UPDATING;,"DMS Data updating..."
ID_STR_DMS_NOT_FOUND;,"DMS not found !!!  Please check Network and DMS Devices...  then  Press BLUE key to search again or  Press EXIT key to exit application."
ID_STR_EMPTY;," "
ID_STR_ENCODING_TYPE;,"Encoding:"
ID_STR_EVERYDAY;,"Everydat"
ID_STR_EXCHANGE;,"Exchange"
ID_STR_FEBRUARY;,"February"
ID_STR_FILES;,"Files"
ID_STR_FIRST_PAGE;,"First Page"
ID_STR_FRAME_ALTERNATIVE;,"Frame Alternative"
ID_STR_FRAME_INTERLEAVING;,"Frame Interleaving"
ID_STR_FRAME_PACKING;,"Frame Packing"
ID_STR_FRAME_PACKING_1080at24p;,"Frame Packing 1080@24p"
ID_STR_FRAME_PACKING_720at50p;,"Frame Packing 720@50p"
ID_STR_FRAME_PACKING_720at60p;,"Frame Packing 720@60p"
ID_STR_HIGH;,"High"
ID_STR_HMIRROR;,"HMirror"
ID_STR_HOME;,"Home"
ID_STR_HOUR;,"Hour"
ID_STR_HVMIRROR;,"HVMirror"
ID_STR_JANUARY;,"January"
ID_STR_JULY;,"July"
ID_STR_JUNE;,"June"
ID_STR_LABEL;,"Label"
ID_STR_LAST_PAGE;,"Last Page"
ID_STR_LEAVE_PLAYER_MSG;,"Do you want to leave current player frame? "
ID_STR_LINE_ALTERNATIVE;,"Line Alternative"
ID_STR_LOW;,"Low"
ID_STR_LR;,"LR"
ID_STR_MAINMENU_3D;,"3D"
ID_STR_MAINMENU_3D_LISTITEM1_3D_DEPTH;,"3D Depth"
ID_STR_MAINMENU_3D_LISTITEM1_3D_OUTPUT_ASPECT;,"3D Output Aspect"
ID_STR_MAINMENU_3D_LISTITEM1_AUTO_START;,"Auto Start"
ID_STR_MAINMENU_3D_LISTITEM1_DISPLAY_FORMAT;,"Display Format"
ID_STR_MAINMENU_3D_LISTITEM1_DISPLAY_MODE;,"Display Mode"
ID_STR_MAINMENU_3D_LISTITEM1_LR_VIEW_SWITCH;,"LR View Switch"
ID_STR_MAINMENU_OPTION_MFC;,"MFC"
ID_STR_MARCH;,"March"
ID_STR_MAY;,"May"
ID_STR_MENU;,"Menu"
ID_STR_MFC_DEMO;,"MFC Demo"
ID_STR_MIDDLE;,"Middle"
ID_STR_MINUTE;,"Minute"
ID_STR_MONTH;,"Month"
ID_STR_NATIVE;,"Native"
ID_STR_NEXT_PAGE;,"Next Page"
ID_STR_NO;,"NO"
ID_STR_NOT_EXCHANGE;,"Not Exchange"
ID_STR_NOVEMBER;,"November"
ID_STR_NULL;," "
ID_STR_No;,"NO"
ID_STR_OCTOBER;,"October"
ID_STR_OFF;,"Off"
ID_STR_OK;,"OK"
ID_STR_ON;,"On"
ID_STR_ONCE;,"Once"
ID_STR_PAGE_REFRESHING;,"Page Refreshing..."
ID_STR_PLAYLIST_UPDATING;,"Playlist Updating..."
ID_STR_PREVIOUS_PAGE;,"Previous Page"
ID_STR_REPEAT_NONE;,"None"
ID_STR_REPEAT_ONE;,"One"
ID_STR_REPEAT_RANDOM;,"Random"
ID_STR_REPEAT_SEQUENCE;,"Sequence"
ID_STR_REPEAT_SHUFFLE;,"Shuffle"
ID_STR_SCREEN;,"Screen"
ID_STR_SEC;,"sec"
ID_STR_SELECT_DIR_ALL;,"Select All Files"
ID_STR_SELECT_PAGE_ALL;,"Select This Page"
ID_STR_SELECT_PLAYLIST_MSG;,"Multiple media type in selected files.  Which media type you would like to see ? "
ID_STR_SEPTEMBER;,"September"
ID_STR_SIDE_BY_SIDE;,"Side by side"
ID_STR_SIZE;,"Size"
ID_STR_STRONG;,"Strong"
ID_STR_TOP_BOTTOM;,"Top Bottom"
ID_STR_UD;,"UD"
ID_STR_UNSELECT_DIR_ALL;,"Unselect All Files"
ID_STR_UNSELECT_PAGE_ALL;,"Unselect This Page"
ID_STR_UNSUPPORTED_FILE_MSG;,"Unsupported file! Press any key to continue..."
ID_STR_URSA_MIRROR;,"Mirror"
ID_STR_UTF8;,"UTF-8"
ID_STR_VMIRROR;,"VMirror"
ID_STR_VOLUME;,"Volume"
ID_STR_WEAK;,"Weak"
ID_STR_YEAR;,"Year"
ID_STR_YES;,"YES"
