<?xml version="1.0" encoding="utf-8" ?>
<mstudio>
	<object class="MApp" name="MainMenu">
		<pos>MainMenu_X,MainMenu_Y</pos>
		<size>MainMenu_W,MainMenu_H</size>
		<object class="AbsContainer" name="ID_MAINMENU_ABSCONTAINER1" variable="AbsCntr" member="yes">
			<focusable>0</focusable>
			<active_bg_color>ID__COLOUR__255__255__255__255</active_bg_color>
			<disabled_bg_color>ID__COLOUR__255__255__255__255</disabled_bg_color>
			<focused_bg_color>ID__COLOUR__255__255__255__255</focused_bg_color>
			<selected_bg_color>ID__COLOUR__255__255__255__255</selected_bg_color>
			<pos>ID_MAINMENU_ABSCONTAINER1_X,ID_MAINMENU_ABSCONTAINER1_Y</pos>
			<size>ID_MAINMENU_ABSCONTAINER1_W,ID_MAINMENU_ABSCONTAINER1_H</size>
			<object class="AbsContainer" name="ID_MAINMENU_ABSCONTAINER2" variable="AbsContainer_TitleArea" member="yes">
				<focusable>0</focusable>
				<active_bg_color>ID__COLOUR__33__177__33__255</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<pos>ID_MAINMENU_ABSCONTAINER2_X,ID_MAINMENU_ABSCONTAINER2_Y</pos>
				<size>ID_MAINMENU_ABSCONTAINER2_W,ID_MAINMENU_ABSCONTAINER2_H</size>
				<object class="Image" name="ID_MAINMENU_IMAGE10" variable="Image_dlnaLogo" member="yes">
					<img_active>ID__IMAGE__DLNALOGO__PNG</img_active>
					<img_disabled>ID__IMAGE__DLNALOGO__PNG</img_disabled>
					<img_focused>ID__IMAGE__DLNALOGO__PNG</img_focused>
					<img_selected>ID__IMAGE__DLNALOGO__PNG</img_selected>
					<img_bg_shown>1</img_bg_shown>
					<focusable>0</focusable>
					<pos>ID_MAINMENU_IMAGE10_X,ID_MAINMENU_IMAGE10_Y</pos>
					<size>ID_MAINMENU_IMAGE10_W,ID_MAINMENU_IMAGE10_H</size>
				</object>
				<object class="TextBox" name="ID_MAINMENU_TEXTBOX4" variable="TextBoxPageInfo" member="yes">
					<bg_shown>0</bg_shown>
					<focusable>0</focusable>
					<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
					<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
					<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
					<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
					<active_text_fg_color>ID__COLOUR__WHITE</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOR__GREEN</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
					<active_Font_size>ID__FONT__SIZE__18</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__18</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__18</selected_Font_size>
					<pos>ID_MAINMENU_TEXTBOX4_X,ID_MAINMENU_TEXTBOX4_Y</pos>
					<size>ID_MAINMENU_TEXTBOX4_W,ID_MAINMENU_TEXTBOX4_H</size>
				</object>
			</object>
			<object class="GridContainer" name="ID_MAINMENU_GRIDCONTAINER_DEVICE_LST" variable="GridContainerDeviceLst" member="yes">
				<active_bg_color>ID__COLOUR__255__255__255__255</active_bg_color>
				<disabled_bg_color>ID__COLOUR__255__255__255__255</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__255__255__255__255</focused_bg_color>
				<selected_bg_color>ID__COLOUR__255__255__255__255</selected_bg_color>
				<column>4</column>
				<pos>ID_MAINMENU_GRIDCONTAINER_DEVICE_LST_X,ID_MAINMENU_GRIDCONTAINER_DEVICE_LST_Y</pos>
				<size>ID_MAINMENU_GRIDCONTAINER_DEVICE_LST_W,ID_MAINMENU_GRIDCONTAINER_DEVICE_LST_H</size>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV1" variable="ImageButtonDev1" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV1____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV1____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV1_X,ID_MAINMENU_IMAGEBUTTON_DEV1_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV1_W,ID_MAINMENU_IMAGEBUTTON_DEV1_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV2" variable="ImageButtonDev2" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV2____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV2____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV2_X,ID_MAINMENU_IMAGEBUTTON_DEV2_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV2_W,ID_MAINMENU_IMAGEBUTTON_DEV2_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV3" variable="ImageButtonDev3" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV3____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV3____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV3_X,ID_MAINMENU_IMAGEBUTTON_DEV3_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV3_W,ID_MAINMENU_IMAGEBUTTON_DEV3_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV4" variable="ImageButtonDev4" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV4____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV4____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV4_X,ID_MAINMENU_IMAGEBUTTON_DEV4_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV4_W,ID_MAINMENU_IMAGEBUTTON_DEV4_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV5" variable="ImageButtonDev5" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV5____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV5____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV5_X,ID_MAINMENU_IMAGEBUTTON_DEV5_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV5_W,ID_MAINMENU_IMAGEBUTTON_DEV5_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV6" variable="ImageButtonDev6" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV6____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV6____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV6_X,ID_MAINMENU_IMAGEBUTTON_DEV6_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV6_W,ID_MAINMENU_IMAGEBUTTON_DEV6_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV7" variable="ImageButtonDev7" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV7____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV7____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV7_X,ID_MAINMENU_IMAGEBUTTON_DEV7_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV7_W,ID_MAINMENU_IMAGEBUTTON_DEV7_H</size>
				</object>
				<object class="ImageButton" name="ID_MAINMENU_IMAGEBUTTON_DEV8" variable="ImageButtonDev8" member="yes">
					<text>ID__STR__LABEL</text>
					<img_bg_shown>1</img_bg_shown>
					<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
					<disabled_bg_color>ID__COLOR__BLACK__TRANS</disabled_bg_color>
					<focused_bg_color>ID__COLOR__BLACK__TRANS</focused_bg_color>
					<selected_bg_color>ID__COLOR__BLACK__TRANS</selected_bg_color>
					<active_light_color>ID__COLOR__BLACK__TRANS</active_light_color>
					<disabled_light_color>ID__COLOR__BLACK__TRANS</disabled_light_color>
					<selected_light_color>ID__COLOR__BLACK__TRANS</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK__TRANS</active_dark_color>
					<disabled_dark_color>ID__COLOR__BLACK__TRANS</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK__TRANS</focused_dark_color>
					<selected_dark_color>ID__COLOR__BLACK__TRANS</selected_dark_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOUR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOUR__33__177__33__255</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOUR__BLACK</selected_text_fg_color>
					<padding_left>ID__PADDING__0</padding_left>
					<padding_right>ID__PADDING__0</padding_right>
					<padding_top>ID__PADDING__0</padding_top>
					<padding_bottom>ID__PADDING__0</padding_bottom>
					<padding_int>ID__PADDING__0</padding_int>
					<padding_ext>ID__PADDING__0</padding_ext>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<bImgExpandable>1</bImgExpandable>
					<img_width>ID__MAINMENU__IMAGEBUTTON__DEV8____IMG____W</img_width>
					<img_height>ID__MAINMENU__IMAGEBUTTON__DEV8____IMG____H</img_height>
					<img_focused>ID__IMAGE__DMP__BSR__DMS__STATION__FOCUS</img_focused>
					<img_selected>ID__IMAGE__DMP__BSR__DMS__STATION</img_selected>
					<img_active>ID__IMAGE__DMP__BSR__DMS__STATION</img_active>
					<img_disabled>ID__IMAGE__DMP__BSR__DMS__STATION</img_disabled>
					<visible>0</visible>
					<pos>ID_MAINMENU_IMAGEBUTTON_DEV8_X,ID_MAINMENU_IMAGEBUTTON_DEV8_Y</pos>
					<size>ID_MAINMENU_IMAGEBUTTON_DEV8_W,ID_MAINMENU_IMAGEBUTTON_DEV8_H</size>
				</object>
			</object>
			<object class="AbsContainer" name="ID_MAINMENU_ABSCONTAINER3" variable="AbsContainer_DeviceInfoArea" member="yes">
				<focusable>0</focusable>
				<active_bg_color>ID__COLOUR__255__255__255__255</active_bg_color>
				<disabled_bg_color>ID__COLOUR__255__255__255__255</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__255__255__255__255</focused_bg_color>
				<selected_bg_color>ID__COLOUR__255__255__255__255</selected_bg_color>
				<pos>ID_MAINMENU_ABSCONTAINER3_X,ID_MAINMENU_ABSCONTAINER3_Y</pos>
				<size>ID_MAINMENU_ABSCONTAINER3_W,ID_MAINMENU_ABSCONTAINER3_H</size>
				<object class="TextBox" name="ID_MAINMENU_TEXTBOX1" variable="TextBoxDeviceFound" member="yes">
					<text>ID__STR__DEVICE__FOUND</text>
					<bg_shown>0</bg_shown>
					<focusable>0</focusable>
					<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
					<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
					<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
					<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOR__GREEN</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__16</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<pos>ID_MAINMENU_TEXTBOX1_X,ID_MAINMENU_TEXTBOX1_Y</pos>
					<size>ID_MAINMENU_TEXTBOX1_W,ID_MAINMENU_TEXTBOX1_H</size>
				</object>
				<object class="TextBox" name="ID_MAINMENU_TEXTBOX3" variable="TextBoxDeviceNum" member="yes">
					<bg_shown>0</bg_shown>
					<focusable>0</focusable>
					<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
					<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
					<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
					<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
					<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOR__GREEN</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
					<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__16</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__16</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__16</selected_Font_size>
					<pos>ID_MAINMENU_TEXTBOX3_X,ID_MAINMENU_TEXTBOX3_Y</pos>
					<size>ID_MAINMENU_TEXTBOX3_W,ID_MAINMENU_TEXTBOX3_H</size>
				</object>
			</object>
			<object class="TextBox" name="ID_MAINMENU_TEXTBOX_MSGBOX" variable="TextBox_MsgBox" member="yes">
				<bg_shown>0</bg_shown>
				<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<active_text_fg_color>ID__COLOUR__GRAY</active_text_fg_color>
				<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
				<focused_text_fg_color>ID__COLOUR__GRAY</focused_text_fg_color>
				<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
				<active_Font_size>ID__FONT__SIZE__18</active_Font_size>
				<disabled_Font_size>ID__FONT__SIZE__18</disabled_Font_size>
				<focused_Font_size>ID__FONT__SIZE__18</focused_Font_size>
				<selected_Font_size>ID__FONT__SIZE__18</selected_Font_size>
				<text_align>E_WDG_ALIGN_MIDDLECENTER</text_align>
				<is_multiline>1</is_multiline>
				<full_opaque>0</full_opaque>
				<pos>ID_MAINMENU_TEXTBOX_MSGBOX_X,ID_MAINMENU_TEXTBOX_MSGBOX_Y</pos>
				<size>ID_MAINMENU_TEXTBOX_MSGBOX_W,ID_MAINMENU_TEXTBOX_MSGBOX_H</size>
			</object>
		</object>
		<object class="AbsContainer" name="ID_MAINMENU_ABSCONTAINER4" variable="AbsContainer_StartDLNA" member="yes">
			<img_bg_shown>1</img_bg_shown>
			<active_bg_color>ID__COLOUR__209__157__13__255</active_bg_color>
			<disabled_bg_color>ID__COLOUR__209__157__13__255</disabled_bg_color>
			<focused_bg_color>ID__COLOUR__209__157__13__255</focused_bg_color>
			<selected_bg_color>ID__COLOUR__209__157__13__255</selected_bg_color>
			<bg_img_active>ID__IMAGE__DMP__BSR__WALLPAPER</bg_img_active>
			<bg_img_disabled>ID__IMAGE__DMP__BSR__WALLPAPER</bg_img_disabled>
			<bg_img_focused>ID__IMAGE__DMP__BSR__WALLPAPER</bg_img_focused>
			<bg_img_selected>ID__IMAGE__DMP__BSR__WALLPAPER</bg_img_selected>
			<show_in_ide>0</show_in_ide>
			<pos>ID_MAINMENU_ABSCONTAINER4_X,ID_MAINMENU_ABSCONTAINER4_Y</pos>
			<size>ID_MAINMENU_ABSCONTAINER4_W,ID_MAINMENU_ABSCONTAINER4_H</size>
			<object class="ProgressBar" name="ID_MAINMENU_PROGRESSBAR1" variable="ProgressBarStartDLNA" member="yes">
				<percentage_active_text_fg_color>ID__COLOR__BLACK</percentage_active_text_fg_color>
				<focusable>0</focusable>
				<active_bg_color>ID__COLOUR__255__255__255__255</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__255__255__255__255</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<bar_style>0</bar_style>
				<BAR_active_color>ID__COLOUR__33__177__33__255</BAR_active_color>
				<direction_orient>E_WDG_HORIZONTAL</direction_orient>
				<pos>ID_MAINMENU_PROGRESSBAR1_X,ID_MAINMENU_PROGRESSBAR1_Y</pos>
				<size>ID_MAINMENU_PROGRESSBAR1_W,ID_MAINMENU_PROGRESSBAR1_H</size>
			</object>
			<object class="TextBox" name="ID_MAINMENU_TEXTBOX2" variable="TextBoxStartDLNA" member="yes">
				<text>ID__STR__DLNA__STARTING</text>
				<bg_shown>0</bg_shown>
				<focusable>0</focusable>
				<active_bg_color>ID__COLOR__BLACK__TRANS</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<active_text_fg_color>ID__COLOUR__WHITE</active_text_fg_color>
				<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
				<focused_text_fg_color>ID__COLOR__GREEN</focused_text_fg_color>
				<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
				<active_Font_size>ID__FONT__SIZE__16</active_Font_size>
				<focused_Font_size>ID__FONT__SIZE__16</focused_Font_size>
				<text_align>E_WDG_ALIGN_MIDDLECENTER</text_align>
				<auto_fit>0</auto_fit>
				<pos>ID_MAINMENU_TEXTBOX2_X,ID_MAINMENU_TEXTBOX2_Y</pos>
				<size>ID_MAINMENU_TEXTBOX2_W,ID_MAINMENU_TEXTBOX2_H</size>
			</object>
			<object class="Image" name="ID_MAINMENU_IMAGE1" variable="Image_MstarLogo" member="yes">
				<img_active>ID__IMAGE__MSTARLOGO__PNG</img_active>
				<img_disabled>ID__IMAGE__MSTARLOGO__PNG</img_disabled>
				<img_focused>ID__IMAGE__MSTARLOGO__PNG</img_focused>
				<img_selected>ID__IMAGE__MSTARLOGO__PNG</img_selected>
				<focusable>0</focusable>
				<enable>0</enable>
				<visible>0</visible>
				<pos>ID_MAINMENU_IMAGE1_X,ID_MAINMENU_IMAGE1_Y</pos>
				<size>ID_MAINMENU_IMAGE1_W,ID_MAINMENU_IMAGE1_H</size>
			</object>
		</object>
		<object class="AbsContainer" name="ID_MAINMENU_ABSCONTAINER5" variable="AbsCntrDialogueBox" member="yes">
			<img_bg_shown>1</img_bg_shown>
			<focusable>0</focusable>
			<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
			<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
			<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
			<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
			<bg_img_active>ID__IMAGE__DMP__BSR__MSG__INFOBOX__BG2</bg_img_active>
			<bg_img_disabled>ID__IMAGE__DMP__BSR__MSG__INFOBOX__BG2</bg_img_disabled>
			<bg_img_focused>ID__IMAGE__DMP__BSR__MSG__INFOBOX__BG2</bg_img_focused>
			<bg_img_selected>ID__IMAGE__DMP__BSR__MSG__INFOBOX__BG2</bg_img_selected>
			<visible>0</visible>
			<full_opaque>0</full_opaque>
			<show_in_ide>0</show_in_ide>
			<pos>ID_MAINMENU_ABSCONTAINER5_X,ID_MAINMENU_ABSCONTAINER5_Y</pos>
			<size>ID_MAINMENU_ABSCONTAINER5_W,ID_MAINMENU_ABSCONTAINER5_H</size>
			<object class="Image" name="ID_MAINMENU_IMAGE2" variable="ImageQuestionIcon" member="yes">
				<img_active>ID__IMAGE__DMP__BSR__QUESTION__MARK</img_active>
				<img_disabled>ID__IMAGE__DMP__BSR__QUESTION__MARK</img_disabled>
				<img_focused>ID__IMAGE__DMP__BSR__QUESTION__MARK</img_focused>
				<img_selected>ID__IMAGE__DMP__BSR__QUESTION__MARK</img_selected>
				<focusable>0</focusable>
				<pos>ID_MAINMENU_IMAGE2_X,ID_MAINMENU_IMAGE2_Y</pos>
				<size>ID_MAINMENU_IMAGE2_W,ID_MAINMENU_IMAGE2_H</size>
			</object>
			<object class="TextBox" name="ID_MAINMENU_TEXTBOX5" variable="TextBoxDialogueMsg" member="yes">
				<text>ID__STR__LEAVE__PLAYER__MSG</text>
				<bg_shown>0</bg_shown>
				<focusable>0</focusable>
				<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<active_text_fg_color>ID__COLOUR__BLACK</active_text_fg_color>
				<disabled_text_fg_color>ID__COLOR__BLUE</disabled_text_fg_color>
				<focused_text_fg_color>ID__COLOR__GREEN</focused_text_fg_color>
				<selected_text_fg_color>ID__COLOR__BLUE</selected_text_fg_color>
				<active_Font_size>ID__FONT__SIZE__20</active_Font_size>
				<disabled_Font_size>ID__FONT__SIZE__20</disabled_Font_size>
				<focused_Font_size>ID__FONT__SIZE__20</focused_Font_size>
				<selected_Font_size>ID__FONT__SIZE__20</selected_Font_size>
				<is_multiline>1</is_multiline>
				<full_opaque>0</full_opaque>
				<pos>ID_MAINMENU_TEXTBOX5_X,ID_MAINMENU_TEXTBOX5_Y</pos>
				<size>ID_MAINMENU_TEXTBOX5_W,ID_MAINMENU_TEXTBOX5_H</size>
			</object>
			<object class="ListContainer" name="ID_MAINMENU_LISTCONTAINER1" variable="ListContainer1" member="yes">
				<bg_shown>0</bg_shown>
				<active_bg_color>ID__COLOUR__WHITE</active_bg_color>
				<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
				<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
				<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
				<padding_int>ID__PADDING__10</padding_int>
				<direction_orient>E_WDG_HORIZONTAL</direction_orient>
				<auto_fit>0</auto_fit>
				<pos>ID_MAINMENU_LISTCONTAINER1_X,ID_MAINMENU_LISTCONTAINER1_Y</pos>
				<size>ID_MAINMENU_LISTCONTAINER1_W,ID_MAINMENU_LISTCONTAINER1_H</size>
				<object class="Button" name="ID_MAINMENU_BUTTON1" variable="BtnOK" member="yes">
					<text>ID__STR__OK</text>
					<active_fg_color>ID__COLOUR__BLACK</active_fg_color>
					<disabled_fg_color>ID__COLOUR__BLACK</disabled_fg_color>
					<focused_fg_color>ID__COLOUR__BLACK</focused_fg_color>
					<selected_fg_color>ID__COLOUR__BLACK</selected_fg_color>
					<active_bg_color>ID__COLOR__LIGHTGRAY</active_bg_color>
					<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
					<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
					<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
					<active_light_color>ID__COLOUR__GRAY</active_light_color>
					<disabled_light_color>ID__COLOUR__GRAY</disabled_light_color>
					<selected_light_color>ID__COLOUR__GRAY</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK</active_dark_color>
					<disabled_dark_color>ID__COLOUR__YELLOW</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK</focused_dark_color>
					<selected_dark_color>ID__COLOUR__YELLOW</selected_dark_color>
					<active_text_fg_color>ID__COLOR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOR__BLACK</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOR__BLACK</selected_text_fg_color>
					<active_Font_size>ID__FONT__SIZE__20</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__20</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__20</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__20</selected_Font_size>
					<auto_fit>0</auto_fit>
					<pos>ID_MAINMENU_BUTTON1_X,ID_MAINMENU_BUTTON1_Y</pos>
					<size>ID_MAINMENU_BUTTON1_W,ID_MAINMENU_BUTTON1_H</size>
				</object>
				<object class="Button" name="ID_MAINMENU_BUTTON2" variable="BtnCancel" member="yes">
					<text>ID__STR__CANCEL</text>
					<active_fg_color>ID__COLOUR__BLACK</active_fg_color>
					<disabled_fg_color>ID__COLOUR__BLACK</disabled_fg_color>
					<focused_fg_color>ID__COLOUR__BLACK</focused_fg_color>
					<selected_fg_color>ID__COLOUR__BLACK</selected_fg_color>
					<active_bg_color>ID__COLOR__LIGHTGRAY</active_bg_color>
					<disabled_bg_color>ID__COLOUR__WHITE</disabled_bg_color>
					<focused_bg_color>ID__COLOUR__WHITE</focused_bg_color>
					<selected_bg_color>ID__COLOUR__WHITE</selected_bg_color>
					<active_light_color>ID__COLOUR__GRAY</active_light_color>
					<disabled_light_color>ID__COLOUR__GRAY</disabled_light_color>
					<selected_light_color>ID__COLOUR__GRAY</selected_light_color>
					<active_dark_color>ID__COLOR__BLACK</active_dark_color>
					<disabled_dark_color>ID__COLOUR__YELLOW</disabled_dark_color>
					<focused_dark_color>ID__COLOR__BLACK</focused_dark_color>
					<selected_dark_color>ID__COLOUR__GRAY</selected_dark_color>
					<active_text_fg_color>ID__COLOR__BLACK</active_text_fg_color>
					<disabled_text_fg_color>ID__COLOR__BLACK</disabled_text_fg_color>
					<focused_text_fg_color>ID__COLOR__BLACK</focused_text_fg_color>
					<selected_text_fg_color>ID__COLOR__BLACK</selected_text_fg_color>
					<active_Font_size>ID__FONT__SIZE__20</active_Font_size>
					<disabled_Font_size>ID__FONT__SIZE__20</disabled_Font_size>
					<focused_Font_size>ID__FONT__SIZE__20</focused_Font_size>
					<selected_Font_size>ID__FONT__SIZE__20</selected_Font_size>
					<auto_fit>0</auto_fit>
					<pos>ID_MAINMENU_BUTTON2_X,ID_MAINMENU_BUTTON2_Y</pos>
					<size>ID_MAINMENU_BUTTON2_W,ID_MAINMENU_BUTTON2_H</size>
				</object>
			</object>
		</object>
	</object>
</mstudio>
