ID_FONT_DEFAULT;,"../../macaron/rc/font/DejaVuSans.ttf"
ID_IMAGE_ATV_Manual_Tuning_MENU_DOWN_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_MENU_DOWN_ARROW.png"
ID_IMAGE_ATV_Manual_Tuning_MENU_LEFT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_MENU_LEFT_ARROW.png"
ID_IMAGE_ATV_Manual_Tuning_MENU_RIGHT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_MENU_RIGHT_ARROW.png"
ID_IMAGE_ATV_Manual_Tuning_MENU_UP_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_MENU_UP_ARROW.png"
ID_IMAGE_DEFAULT;,"../../"
ID_IMAGE_DLNALOGO_PNG;,"../../macaron/rc/img/browser/dlnaLogo.png"
ID_IMAGE_DMPLAYER_FILE;,"../../macaron/rc/img/playerdmp/Main_File_Small.png|(255,0,0)"
ID_IMAGE_DMPLAYER_LEFTARROW;,"../../macaron/rc/img/playerdmp/main_l.png|(255,0,0)"
ID_IMAGE_DMPLAYER_MOVIE;,"../../macaron/rc/img/playerdmp/Main_Movie_Small.png|(255,0,0)"
ID_IMAGE_DMPLAYER_MUSIC;,"../../macaron/rc/img/playerdmp/Main_Music_Small.png|(255,0,0)"
ID_IMAGE_DMPLAYER_PHOTO;,"../../macaron/rc/img/playerdmp/Main_Photo_Small.png|(255,0,0)"
ID_IMAGE_DMPLAYER_RIGHTARROW;,"../../macaron/rc/img/playerdmp/main_r.png|(255,0,0)"
ID_IMAGE_DMPLAYER_SELFRAME;,"../../macaron/rc/img/playerdmp/Main_Sub_Focus.png|(255,0,0)"
ID_IMAGE_DMPLAYER_SUBITEML;,"../../macaron/rc/img/playerdmp/Main_Sub_Item_l.png|(255,0,0)"
ID_IMAGE_DMPLAYER_SUBITEMM;,"../../macaron/rc/img/playerdmp/Main_Sub_Item_m.png"
ID_IMAGE_DMPLAYER_SUBITEMR;,"../../macaron/rc/img/playerdmp/Main_Sub_Item_r.png|(255,0,0)"
ID_IMAGE_DMP_BSR_DMS_STATION;,"../../macaron/rc/img/browser/browser_dlna_station.png"
ID_IMAGE_DMP_BSR_DMS_STATION_FOCUS;,"../../macaron/rc/img/browser/browser_dlna_station_focus.png"
ID_IMAGE_DMP_BSR_EMPTY_FOLDER;,"../../macaron/rc/img/browser/browser_empty_folder.png"
ID_IMAGE_DMP_BSR_FILE_SELECTED;,"../../macaron/rc/img/browser/browser_file_selected.png"
ID_IMAGE_DMP_BSR_FOLDER_BGFRAME_FOCUS;,"../../macaron/rc/img/browser/browser_folderBgFrame_focus.png"
ID_IMAGE_DMP_BSR_FOLDER_BGFRAME_SELECTED;,"../../macaron/rc/img/browser/browser_folderBgFrameSelected.png"
ID_IMAGE_DMP_BSR_FOLDER_ITEM_BG_FOCUS;,"../../macaron/rc/img/browser/browser_folder_item_bg_focus.png"
ID_IMAGE_DMP_BSR_GOTO_FIRST_PAGE;,"../../macaron/rc/img/browser/browser_goto_firstpage.png"
ID_IMAGE_DMP_BSR_GOTO_LAST_PAGE;,"../../macaron/rc/img/browser/browser_goto_lastpage.png"
ID_IMAGE_DMP_BSR_GOTO_NEXT_PAGE;,"../../macaron/rc/img/browser/browser_goto_nextpage.png"
ID_IMAGE_DMP_BSR_GOTO_PREVIOUS_PAGE;,"../../macaron/rc/img/browser/browser_goto_previous_page.png"
ID_IMAGE_DMP_BSR_IMAGE_FILE;,"../../macaron/rc/img/browser/browser_image_file.png"
ID_IMAGE_DMP_BSR_MISC_FILE;,"../../macaron/rc/img/browser/browser_misc_file.png"
ID_IMAGE_DMP_BSR_MISC_FOLDER;,"../../macaron/rc/img/browser/browser_misc_folder.png"
ID_IMAGE_DMP_BSR_MOVIE_FOLDER;,"../../macaron/rc/img/browser/browser_movie_folder.png"
ID_IMAGE_DMP_BSR_MSG_INFO;,"../../macaron/rc/img/browser/browser_msg_info.png"
ID_IMAGE_DMP_BSR_MSG_INFOBOX_BG;,"../../macaron/rc/img/browser/browser_msg_infoBoxbg.png"
ID_IMAGE_DMP_BSR_MSG_INFOBOX_BG2;,"../../macaron/rc/img/browser/browser_msg_infoBoxbg2.png"
ID_IMAGE_DMP_BSR_MUSIC_FILE;,"../../macaron/rc/img/browser/browser_music_file.png"
ID_IMAGE_DMP_BSR_MUSIC_FOLDER;,"../../macaron/rc/img/browser/browser_music_folder.png"
ID_IMAGE_DMP_BSR_NETWORK_CONNECTED;,"../../macaron/rc/img/browser/browser_network_connected.png"
ID_IMAGE_DMP_BSR_NETWORK_DISCONNECTED;,"../../macaron/rc/img/browser/browser_network_disconnected.png"
ID_IMAGE_DMP_BSR_PHOTO_FOLDER;,"../../macaron/rc/img/browser/browser_photo_folder.png"
ID_IMAGE_DMP_BSR_QMENU_BGBAR;,"../../macaron/rc/img/browser/browser_qmenu_bgBar.png"
ID_IMAGE_DMP_BSR_QMENU_BGBAR_DISABLE;,"../../macaron/rc/img/browser/browser_qmenu_bgBar_disable.png"
ID_IMAGE_DMP_BSR_QMENU_HOME;,"../../macaron/rc/img/browser/browser_qmenu_home.png"
ID_IMAGE_DMP_BSR_QMENU_MENU_BG;,"../../macaron/rc/img/browser/browser_qmenu_menu_bg.png"
ID_IMAGE_DMP_BSR_QMENU_PLAY;,"../../macaron/rc/img/browser/browser_qmenu_playfile.png"
ID_IMAGE_DMP_BSR_QUESTION_MARK;,"../../macaron/rc/img/browser/browser_question_mark.png"
ID_IMAGE_DMP_BSR_SELECT_ALLFILES;,"../../macaron/rc/img/browser/browser_select_allfiles.png"
ID_IMAGE_DMP_BSR_SEL_CURRENT_PAGE;,"../../macaron/rc/img/browser/browser_qmenu_select_current_page.png"
ID_IMAGE_DMP_BSR_UNSEL_CURRENT_PAGE;,"../../macaron/rc/img/browser/browser_qmenu_unselect_current_page.png"
ID_IMAGE_DMP_BSR_VIDEO_FILE;,"../../macaron/rc/img/browser/browser_video_file.png"
ID_IMAGE_DMP_BSR_WALLPAPER;,"../../macaron/rc/img/browser/browser_wallpaper.png"
ID_IMAGE_DMP_DRIVE_1_DISABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_grey_1.png"
ID_IMAGE_DMP_DRIVE_1_ENABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_blue_1.png"
ID_IMAGE_DMP_DRIVE_2_DISABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_grey_2.png"
ID_IMAGE_DMP_DRIVE_2_ENABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_blue_2.png"
ID_IMAGE_DMP_DRIVE_DISABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_grey.png"
ID_IMAGE_DMP_DRIVE_ENABLE;,"../../macaron/rc/img/playerdmp/dmp_entry_usb_blue.png"
ID_IMAGE_DMP_FS_CHECKICON;,"../../macaron/rc/img/playerdmp/List_Long_Tag.png|(0,0,0)"
ID_IMAGE_DMP_FS_FOLDER_SEL;,"../../macaron/rc/img/playerdmp/List_Thumb_Folder_Icon.png|(255,0,0)"
ID_IMAGE_DMP_FS_FOLDER_UNSEL;,"../../macaron/rc/img/playerdmp/List_Long_Folder.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_DD;,"../../macaron/rc/img/playerdmp/List_Thumb_Down.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_LD;,"../../macaron/rc/img/playerdmp/List_Thumb_LeftDown.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_LL;,"../../macaron/rc/img/playerdmp/List_Thumb_Left.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_LU;,"../../macaron/rc/img/playerdmp/List_Thumb_LeftUp.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_RD;,"../../macaron/rc/img/playerdmp/List_Thumb_RightDown.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_RR;,"../../macaron/rc/img/playerdmp/List_Thumb_Right.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_RU;,"../../macaron/rc/img/playerdmp/List_Thumb_RightUp.png|(255,0,0)"
ID_IMAGE_DMP_FS_FRAME_UU;,"../../macaron/rc/img/playerdmp/List_Thumb_Up.png|(255,0,0)"
ID_IMAGE_DMP_FS_MOVIE_SEL;,"../../macaron/rc/img/playerdmp/List_Thumb_Video_Icon.png|(0,0,0)"
ID_IMAGE_DMP_FS_MOVIE_UNSEL;,"../../macaron/rc/img/playerdmp/List_Long_Movie.png|(0,0,0)"
ID_IMAGE_DMP_FS_MUSIC_SEL;,"../../macaron/rc/img/playerdmp/List_Thumb_Music_Icon.png|(0,0,0)"
ID_IMAGE_DMP_FS_MUSIC_UNSEL;,"../../macaron/rc/img/playerdmp/List_Long_Music.png|(0,0,0)"
ID_IMAGE_DMP_FS_PHOTO_SEL;,"../../macaron/rc/img/playerdmp/List_Thumb_Photo_Icon.png|(0,0,0)"
ID_IMAGE_DMP_FS_PHOTO_UNSEL;,"../../macaron/rc/img/playerdmp/List_Long_Photo.png|(0,0,0)"
ID_IMAGE_DMP_FS_RETURN;,"../../macaron/rc/img/playerdmp/Return_Icon.png|(0,0,0)"
ID_IMAGE_DMP_FS_TEXT_SEL;,"../../macaron/rc/img/playerdmp/file_select_icon_txt.png"
ID_IMAGE_DMP_FS_TEXT_UNSEL;,"../../macaron/rc/img/playerdmp/file_select_icon_txt_gray.png"
ID_IMAGE_DMP_FS_TITLEBAR;,"../../macaron/rc/img/playerdmp/main_name_bar.png|(255,0,0)"
ID_IMAGE_DMP_MMP_BG1;,"../../macaron/rc/img/playerdmp/MUSIC_PLAY_WINDOW_A.png"
ID_IMAGE_DMP_MMP_BG2;,"../../macaron/rc/img/playerdmp/MUSIC_PLAY_WINDOW_B.png"
ID_IMAGE_DMP_MMP_BGM;,"../../macaron/rc/img/playerdmp/playb_17.png|(0,0,0)"
ID_IMAGE_DMP_MMP_CAPTURE;,"../../macaron/rc/img/playerdmp/playb_21.png|(0,0,0)"
ID_IMAGE_DMP_MMP_DIVX;,"../../macaron/rc/img/playerdmp/playb_27.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ENLARGE;,"../../macaron/rc/img/playerdmp/playb_18.png|(0,0,0)"
ID_IMAGE_DMP_MMP_FF;,"../../macaron/rc/img/playerdmp/playb_6.png|(0,0,0)"
ID_IMAGE_DMP_MMP_FRAME_SEL;,"../../macaron/rc/img/playerdmp/play_gb_b.png|(128,128,128)"
ID_IMAGE_DMP_MMP_FRAME_UNSEL;,"../../macaron/rc/img/playerdmp/play_gb_normal.png|(128,128,128)"
ID_IMAGE_DMP_MMP_FREV;,"../../macaron/rc/img/player/player_fr.png|(0,0,0)"
ID_IMAGE_DMP_MMP_INFO;,"../../macaron/rc/img/playerdmp/playb_11.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ITEM_SEL;,"../../macaron/rc/img/player/player_item_sel.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ITEM_UNSEL;,"../../macaron/rc/img/player/player_item_unsel.png|(0,0,0)"
ID_IMAGE_DMP_MMP_MOVE;,"../../macaron/rc/img/player/player_move.png|(0,0,0)"
ID_IMAGE_DMP_MMP_MOVE_DOWN_ARROW;,"../../macaron/rc/img/player/MENU_IMG_MENU_DOWN_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_DOWN_ARROW_GRIDE;,"../../macaron/rc/img/player/MENU_IMG_GRIDE_DOWN_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_LEFT_ARROW;,"../../macaron/rc/img/player/MENU_IMG_MENU_LEFT_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_LEFT_ARROW_GRIDE;,"../../macaron/rc/img/player/MENU_IMG_GRIDE_LEFT_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_RIGHT_ARROW;,"../../macaron/rc/img/player/MENU_IMG_MENU_RIGHT_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_RIGHT_ARROW_GRIDE;,"../../macaron/rc/img/player/MENU_IMG_GRIDE_RIGHT_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_UP_ARROW;,"../../macaron/rc/img/player/MENU_IMG_MENU_UP_ARROW.png"
ID_IMAGE_DMP_MMP_MOVE_UP_ARROW_GRIDE;,"../../macaron/rc/img/player/MENU_IMG_GRIDE_UP_ARROW.png"
ID_IMAGE_DMP_MMP_MUSIC_ANIMATIONA;,"../../macaron/rc/img/player/player_music_animation_a.png"
ID_IMAGE_DMP_MMP_MUSIC_ANIMATIONB;,"../../macaron/rc/img/player/player_music_animation_b.png"
ID_IMAGE_DMP_MMP_MUTE;,"../../macaron/rc/img/playerdmp/playb_8.png|(0,0,0)"
ID_IMAGE_DMP_MMP_NEXT;,"../../macaron/rc/img/playerdmp/playb_7.png|(0,0,0)"
ID_IMAGE_DMP_MMP_PAUSE;,"../../macaron/rc/img/playerdmp/playb_5.png|(0,0,0)"
ID_IMAGE_DMP_MMP_PLAY;,"../../macaron/rc/img/playerdmp/playb_3.png|(0,0,0)"
ID_IMAGE_DMP_MMP_PLAYLIST;,"../../macaron/rc/img/playerdmp/playb_10.png|(0,0,0)"
ID_IMAGE_DMP_MMP_PREVIOUS;,"../../macaron/rc/img/playerdmp/playb_1.png|(0,0,0)"
ID_IMAGE_DMP_MMP_REPEAT;,"../../macaron/rc/img/playerdmp/playb_23.png|(0,0,0)"
ID_IMAGE_DMP_MMP_REPEAT_AB;,"../../macaron/rc/img/playerdmp/playb_22.png|(0,0,0)"
ID_IMAGE_DMP_MMP_REV;,"../../macaron/rc/img/playerdmp/playb_2.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ROTATE1;,"../../macaron/rc/img/playerdmp/playb_14.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ROTATE2;,"../../macaron/rc/img/playerdmp/playb_15.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ROTATEL;,"../../macaron/rc/img/player/player_rotateL.png|(0,0,0)"
ID_IMAGE_DMP_MMP_ROTATER;,"../../macaron/rc/img/player/player_rotateR.png|(0,0,0)"
ID_IMAGE_DMP_MMP_SHRINK;,"../../macaron/rc/img/playerdmp/playb_13.png|(0,0,0)"
ID_IMAGE_DMP_MMP_SOUND;,"../../macaron/rc/img/playerdmp/playb_26.png|(0,0,0)"
ID_IMAGE_DMP_MMP_STOP;,"../../macaron/rc/img/playerdmp/playb_4.png|(0,0,0)"
ID_IMAGE_DMP_MMP_TIMEPLAY;,"../../macaron/rc/img/playerdmp/playb_9.png|(0,0,0)"
ID_IMAGE_DMP_TEXT_LOADING_1;,"../../macaron/rc/img/playerdmp/Text_Loading_1.png"
ID_IMAGE_DMP_TEXT_LOADING_2;,"../../macaron/rc/img/playerdmp/Text_Loading_2.png"
ID_IMAGE_DMP_TEXT_LOADING_3;,"../../macaron/rc/img/playerdmp/Text_Loading_3.png"
ID_IMAGE_DMP_TEXT_LOADING_4;,"../../macaron/rc/img/playerdmp/Text_Loading_4.png"
ID_IMAGE_DMP_TEXT_LOADING_5;,"../../macaron/rc/img/playerdmp/Text_Loading_5.png"
ID_IMAGE_DMP_TEXT_LOADING_6;,"../../macaron/rc/img/playerdmp/Text_Loading_6.png"
ID_IMAGE_DMP_TEXT_LOADING_7;,"../../macaron/rc/img/playerdmp/Text_Loading_7.png"
ID_IMAGE_DMP_TEXT_LOADING_8;,"../../macaron/rc/img/playerdmp/Text_Loading_8.png"
ID_IMAGE_GRID_DOWN_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_GRIDE_DOWN_ARROW.png|(255,255,255)"
ID_IMAGE_GRID_LEFT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_GRIDE_LEFT_ARROW.png|(255,255,255)"
ID_IMAGE_GRID_RIGHT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_GRIDE_RIGHT_ARROW.png|(255,255,255)"
ID_IMAGE_GRID_UP_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_GRIDE_UP_ARROW.png|(255,255,255)"
ID_IMAGE_LIST_LONG_DISK2_PNG;,"../../macaron/rc/img/playerdmp/List_Long_Disk2.png|(0,0,0)"
ID_IMAGE_MSTARLOGO_PNG;,"../../macaron/rc/img/browser/mstarLogo.png"
ID_IMAGE_PLAY_TLINE_BG_PNG;,"../../macaron/rc/img/playerdmp/play_tline_bg.png"
ID_IMAGE_POP_UP_BG2;,"../../macaron/rc/img/menu/MENU_IMG_POP_UP_BG2.png|(255,255,255)"
ID_IMAGE_POP_UP_LEFT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_POP_UP_LEFT_ARROW.png"
ID_IMAGE_POP_UP_RIGHT_ARROW;,"../../macaron/rc/img/menu/MENU_IMG_POP_UP_RIGHT_ARROW.png"
ID_IMAGE_RECORDER;,"../../macaron/rc/img/playerdmp/playb_record.png|(0,0,0)"
